:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
body {
    font-family: var(--main-font);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.header-container {
    display: flex;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio-1 {
    color: #000000;
}
.menu {
    display: flex;
}
.menu-item {
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.menu .link.current {
    color: var(--accent-color);
}
.contact {
    display: flex;
}
.contact-menu + .contact-menu{
    margin-left: 50px;
}
.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

/* HERO */

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.hero {
    background-color: #2F303A;
    text-align: center;
    margin-bottom: 94px;
}
.modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    min-width: 200px;
    min-height: 50px;
    margin: 0 auto;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}
/* SERVICES*/

.services {
    margin-top: 0;
    margin-bottom: 94px;
}

.service-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.description {
    margin-top: 0;
    margin-bottom: 94px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ABOUT-GALLERY */

.about-gallery {
    margin-top: 0;
    margin-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* EMPLOYEES */

.employees {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.employees-list-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.employees-list-position {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* FOOTER */

.contact-info {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.logo-studio-2 {
    color: #FFFFFF;
}

.address {
    margin-top: 20px;
}
.contact-info-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact-info-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO */

.portfolio-menu {
    margin-top: 94px;
    margin-bottom: 94px;
}

.portfolio-list {
    padding-top: 0;
    padding-bottom: 30px;
}

.portfolio-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    min-width: 73px;
    min-height: 38px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
.portfolio-service-name {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-service-position {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}